@charset "UTF-8";
@font-face {
    font-family: 'Radio';
    src: url('../fonts/PhelixBoomgartner.ttf');
}
@font-face {
    font-family: 'Radio2';
    src: url('../fonts/PhelixBoomgartner.otf');
}

 body{
     background: black url('../images/fundo-inicio.jpg') center center no-repeat fixed;
     background-size: cover;
     position: relative;
     
 }

 main {
     background-color: transparent;
     max-width: 1000px;
     padding: 10px;
     margin: auto;
 }

 img#logo {
     position: absolute;
     height: 380px;
     width: 400px;
     left: 50%;
     top: 50%;
     transform: translate(-51%, -13%);
 }

 nav > a{
     font-family: 'Radio', 'Radio2';
     text-decoration: none;
     color: white;
     font-size: 1em;
     text-align: justify;
 }

 a > img {
     border-radius: 10px;
 }

a#pt {
    padding: 0px;
    display: inline-block;
    position: absolute;
    text-align: center;
    font-size: 2em;
    height: 300px;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-127%, 82%);
}

a#ig {
    display: inline-block;
    position: absolute;
    text-align: center;
    font-size: 2em;
    height: 300px;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate( 23%, 82%);
}

a:hover {
    color: #ee7202;
    transition-duration: 0.5s;
    border-radius: px;
    text-shadow: 1px 1px 12px grey;
}

a > img:hover {
    transition-duration: 0.5s;
    border-radius: 25px;
}

footer {
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1em;
     position: fixed;
     bottom: 30px;
     left: 480px;
 }

 /*
 nav > a{
     
     font-family: 'Radio', 'Radio2';
     text-decoration: none;
     color: white;
     font-size: 3em;
     margin: 40px;
    
 }

 a > img {
     border-radius: 20px;

 }

 a#portugues{
    inline-size: auto;
    display: block;
    position: absolute;
    left: 174px;
    top: 197px;
    text-align: center;
 }
 
 a#ingles{
    inline-size: auto;
    display: block;
    position: absolute;
    left: 704px;
    top: 197px;
    text-align: center;
 }

 a > img:hover {
     border-radius: 100px;
     float:right;
     margin-right:50px;
     -webkit-transition: all 1s ease-out;
     -moz-transition: all 1s ease-out;
     -o-transition: all 1s ease-out;
     -ms-transition: all 1s ease-out;
     transition: all 1s ease-out;
 }

 a:hover {
     text-decoration: none;
     color: #ee7202;
     transition-duration: 0.5s;
     text-shadow: 1px 1px 3px rgb(160, 159, 159);
 }

 footer {
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1em;
     position: fixed;
     bottom: 30px;
     left: 480px;
 }*/
