@charset "UTF-8";
@font-face {
    font-family: 'Radio';
    src: url('../fonts/PhelixBoomgartner.ttf');
}
@font-face {
    font-family: 'Radio2';
    src: url('../fonts/PhelixBoomgartner.otf');
}
@font-face {
    font-family: 'Monster';
    src: url('../fonts/The Macabre.otf');
}


body {
    background: black url('../images/wallpaper001.png') center center no-repeat fixed;
    background-size: cover;
}
/* CABEÇALHO E MENU*/
header > img {
    position: relative;
    left: 120px;
    top: -10px;
}

nav {
    position: sticky;
    top: -1px;
    margin-left: 120px;
    margin-top: -15px;
    text-align: center;
    background-image: linear-gradient( to right, #ee7202, rgba(0, 0, 0, 0) );
    padding: 10px;
    font-family: 'Radio', 'Radio2', Arial, Helvetica, sans-serif;
}

nav > a {
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 2em;
}

nav > a:hover{
    text-shadow: 1px 1px 3px rgb(63, 63, 63);
    transition-duration: 0.2s;
}
/* CONTEÚDO PRINCIPAL*/
main {
    min-width: 300px;
    max-width: 1000px;
    min-height: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.137);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main p {
    text-indent: 3px;
}
/*LATERAL*/
aside {
    background-color: rgba(255, 255, 255, 0);
    float: left;
    padding: 3px;
}

aside h3 {
    font-family: 'Radio1', 'Radio2';
    color: #ee7202;
    text-align: center;
}

aside > img {
    background-color: #ee7202;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
    padding: 2px;
    width: 250px;
    height: 250px
}

aside > li {
    list-style-type: none;
}

aside > li > a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: black;
    text-align: right;
    text-decoration: none;
}

aside > li > a > img {
    width: 25px;
    height: 25px;
}

aside > li > a:hover {
    color: #ee7202;
}

/*VÍDEO CLIPE*/
h2#video {
    color: #ee7202;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px 50px 0px 66px;
    font-size: bold;
}

div#video {
    background-color: #ee7202;
    margin:  0px 66px 30px 325px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.397);
}

div#video > iframe {
    margin: 0px 0px 0px 20px;
    border-radius: 5px;
}
/*TABELA DE SHOWS*/
table {
    border-collapse: collapse;
}

caption {
    font-size: 3.5em;
    font-family: 'Monster', 'Radio1', 'Radio2', Arial, Helvetica, sans-serif;
    color: #ee7202;
}

 div#container th {
    color: #eb5b38;
    font-size: 1.5em;
    font-family: 'Monster', 'Radio1', 'Radio2', Arial, Helvetica, sans-serif;
    border: 1px solid black;
    padding: 10px;
}

div#container td {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    border: 1px solid black;
    padding 10px;
    text-align: center;
}

tbody > td:nth-child(even) {
            background-color: #ee7202;
        }